{% extends "base.html" %}

{% block content %}
    <h2>پروفایل</h2>

    {% if request.user == user %}
        <a href="{% url 'people:edit_profile' %}" id="edit_profile">تغییر تنظیمات</a>
    {% endif %}
    <p id="text_firstname">نام:
        {{ user.first_name }}</p>
    <p id="text_lastname"> نام خانوادگی:
        {{ user.last_name }}</p>
    <p id="text_username"> نام کاربری:
        {{ user.username }}</p>
    <p id="text_gender">جنسیت :
        {{ user.get_gender_display }}</p>
    <p id="text_bio">زندگی نامه:
        <br>
        {{ user.get_bio|safe }}</p>
    {% if request.user.picture %}
    <img id="profile_image" src="{{ user.picture.url }}"/>
    {% endif %}
{% endblock content %}