{% extends "base.html" %}

{% block content %}
    <h2>پروفایل</h2>

    {% if request.user == user %}
        <a href="{% url 'people:edit_profile' %}" id="id_edit_profile">تغییر تنظیمات</a>
        <!-- <a id="id_remove_user" href="{% url 'people:remove_user' %}">حذف کاربر و خروج از سامانه</a> !-->
        <a id="id_remove_user" onClick="confirm("آیا مطمئن هستید");" href="{% url 'people:remove_user' %}">حذف کاربر و خروج از سامانه</a>
        <p id="user-type">
            شما به عنوا
            <b id="type">
                {% if request.user.is_teacher %}
                    استاد
                {% else %}
                    دانشجو
                {% endif %}
            </b>
            وارد شده اید
        </p>
    {% endif %}
    <p>
        نام:
    </p>
    <p id="id_firstname">
        {{ user.first_name }}</p>
    <p>
        نام خانوادگی:
    </p>
    <p id="id_lastname">
        {{ user.last_name }}</p>
    <p>
        نام کاربری:
    </p>
    <p id="id_username">
        {{ user.username }}</p>
    <p id="id_gender">جنسیت :
        {{ user.get_gender_display }}</p>
    <p id="id_bio">زندگی نامه:
        <br>
        {{ user.get_bio|safe }}</p>
    {% if user.picture %}
        <img id="id_profile_image" src="{{ user.picture.url }}"/>
    {% endif %}
    {% if user.is_teacher %}
        <h2>فرصت ها</h2>
        <ul>
            {% for free_time in free_times %}
                <li id="id_meeting_{{ forloop.counter0 }}">
                    <div id="id_date">
                        {% if request.user.is_teacher and request.user.teacher == free_time.teacher %}
                            <a id="id_edit_meeting"
                               href="{% url 'people:update_teacher_free_time' free_time_id=free_time.id %}">
                                {{ free_time.date|safe }}</a>
                        {% else %}
                            <a id="id_reserve_meeting"
                               href="{% url 'people:reserve_free_time' free_time_id=free_time.id %}">{{ free_time.date|safe }}</a>
                        {% endif %}
                    </div>
                    <br>
                    <div id="id_start">
                        {{ free_time.start|safe }}
                    </div>
                    <br>
                    <div id="id_end">
                        {{ free_time.end|safe }}
                    </div>
                    <br>
                    <div id="id_student_capacity">
                        {{ free_time.student_capacity }}
                    </div>
                </li>
                <br>
            {% endfor %}
        </ul>
    {% elif request.user.is_student %}
        <h2>فرصت ها رزرو شده</h2>
        <ul>
            {% for free_time in free_times %}
                <li id="id_reserved_meeting_{{ forloop.counter0 }}">
                    <p>
                        <a id="id_cancel_meeting" href="{% url 'people:undo_reserve_free_time' free_time_id=free_time.id %}">
                            {{ free_time.teacher.user.get_full_name }}</a>
                    </p>
                    <p id="id_meeting_date">
                        {{ free_time.date|safe }}
                    </p>
                    <p id="id_meeting_start_time">
                        {{ free_time.start|safe }}
                    </p>

                    <p id="id_meeting_end_time">
                        {{ free_time.end|safe }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
