{% extends "base.html" %}
{% block content %}
    <ul>
        {% if teachers %}
            {% for teacher in teachers %}
                <li id="id_teacher">
                    <p>
                        نام کاربری :‌
                    </p>
                    <a href="{{ teacher.user.profile_url }}" id="id_username">
                        {{ teacher.user.username }}
                    </a>
                    <p>
                        نام :‌
                    </p>
                    <p id="id_firstname">
                        {{ teacher.user.first_name }}
                    </p>
                    <p>
                        نام خانوادگی :‌
                    </p>
                    <p id="id_lastname">
                        {{ teacher.user.last_name }}
                    </p>

                </li>
            {% endfor %}
        {% else %}
            <p>استادی یافت نشد</p>
        {% endif %}
    </ul>
{% endblock %}
