{% extends "base.html" %}
{% block content %}
    <ul>
        {% for teacher in teachers %}
            <li>
                <a href="{{ teacher.user.profile_url }}" id="teacher{{ forloop.counter0 }}-username">
                    نام کاربری :‌
                    {{ teacher.user.username }}
                </a>
                <p id="teacher{{ forloop.counter0 }}-first_name">
                    نام :‌
                    {{ teacher.user.first_name }}
                </p>
                <p id="teacher{{ forloop.counter0 }}-last_name">
                    نام خانوادگی :‌
                    {{ teacher.user.last_name }}
                </p>

            </li>
        {% endfor %}
    </ul>
{% endblock %}