{% extends "base.html" %}
{% block content %}
    <ul>
        {% if teachers %}
            {% for teacher in teachers %}
                <li>
                    <p>
                        نام کاربری :‌
                    </p>
                    <a href="{{ teacher.user.profile_url }}" id="teacher{{ forloop.counter0 }}-username">
                        {{ teacher.user.username }}
                    </a>
                    <p>
                        نام :‌
                    </p>
                    <p id="teacher{{ forloop.counter0 }}-first_name">
                        {{ teacher.user.first_name }}
                    </p>
                    <p>
                        نام خانوادگی :‌
                    </p>
                    <p id="teacher{{ forloop.counter0 }}-last_name">
                        {{ teacher.user.last_name }}
                    </p>

                </li>
            {% endfor %}
        {% else %}
            <p id="not-found">استادی یافت نشد</p>
        {% endif %}
    </ul>
{% endblock %}