{% extends "base.html" %}
{% block content %}

    <h2>فرصت های شما</h2>
    <ul>
        {% for free_time in free_times %}
            <li id="free-time-{{ forloop.counter0 }}">
                <div id="free-time-date">
                    <a id="update-teacher-free-time" href="{% url 'people:update_teacher_free_time' free_time_id=free_time.id %}">{{ free_time.date }}</a>
                </div>
                <br>
                <div id="free-time-start">
                    {{ free_time.start }}
                </div>
                <br>
                <div id="free-time-end">
                    {{ free_time.end }}
                </div>
                <br>
                <div id="free-time-student_capacity">
                    {{ free_time.student_capacity }}
                </div>
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock content %}