{% extends 'base.html' %}
{% block content %}
    <div id="welcome">به سامانه استادجو خوش آمدید.</div>
    {% if request.user.is_authenticated %}
        <ul id="notifications">
            {% for notification in request.user.notifications.all %}
                <li id="notification-{{ forloop.counter0 }}">
                    <a id="seen-notification-{{ forloop.counter0 }}"
                       href="{% url 'people:seen_notification' notification_id=notification.id %}">
                        {{ notification.text }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}